@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --page-font-size: 14pt;
    --username-font-size: 20pt;
    --tag-font-size: 16pt;
    --credits-font-size: 10pt;
    --emoji-font-size: 26pt;
    --link-font-size: 16pt;
    --page-bg: #ffd;
    --block-bg: #fed;
    --code-bg: #efe;
    --text-color: #000;
    --border-color: #000;
    --link-color: #0a0;
    --link-visited-color: #d0a;
    --link-active-color: #fff;
    --link-active-bg: #0a0;
    --code-color: #000;
    --link-platform-color: #fff;
    --link-platform-bg: #e80;
    --tag-bg: #ffd;
    --border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: #111;
        --block-bg: #222;
        --code-bg: #080;
        --text-color: #fff;
        --border-color: #fff;
        --link-color: #af8;
        --link-visited-color: #f8a;
        --link-active-color: #000;
        --link-active-bg: #cfa;
        --code-color: #fff;
        --link-platform-color: #fff;
        --link-platform-bg: #e80;
        --tag-bg: #111;
    }
}

body,
main {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background: var(--page-bg);
    font-size: var(--page-font-size);
    color: var(--text-color);
    font-family: "Roboto Mono", monospace;
}

main {
    display: flex;
    flex-wrap: wrap;
    min-width: 430px;
    padding: 0px;
}

.block {
    display: block;
    flex-grow: 1;
    padding: 15px;
    margin: 10px;
    border: 1px dashed var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--block-bg);
}

.block:nth-child(1) {
    flex-grow: 0;
    padding: 0px;
}

.block:nth-child(2) {
    min-width: 300px;
}

.block:nth-child(3) {
    min-width: 370px;
}

.block img {
    display: block;
}

.block p {
    padding-bottom: 5px;
}

.block p:last-child {
    padding-bottom: 0px;
}

.block p:nth-child(1) {
    margin-top: 0px;
}

.block:nth-child(2) p:nth-child(1) {
    font-size: var(--username-font-size);
}

.block:nth-child(2) p:nth-child(2) {
    font-size: var(--tag-font-size);
}

.tag,
code,
a {
    padding: 3px;
    border: 1px dashed var(--border-color);
    border-radius: var(--border-radius);
}

code {
    background-color: var(--code-bg);
    color: var(--code-color);
}

.tag {
    background-color: var(--tag-bg);
    padding: 7px;
}

.credits {
    font-size: var(--credits-font-size);
}

.credits::before {
    content: "# ";
}

a {
    display: inline;
    color: var(--link-color);
    border-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--link-visited-color);
}

a:active,
a:hover {
    color: var(--link-active-color);
    background-color: var(--link-active-bg);
    border-color: var(--border-color);
}

.block:nth-child(3) {
    font-size: var(--link-font-size);
}

.block:nth-child(3) a::first-letter {
    font-size: var(--emoji-font-size);
}

.block:nth-child(3) a {
    display: block;
    padding: 13px;
}

.block:nth-child(3) code {
    background-color: var(--link-platform-bg);
    color: var(--link-platform-color);
    padding: 7px;
}

@media (max-width: 650px) {
    .block:nth-child(1) img {
        width: 95%;
    }
}

@media (max-width: 620px) {
    :root {
        --page-font-size: 12pt;
        --username-font-size: 18pt;
        --tag-font-size: 14pt;
        --credits-font-size: 8pt;
        --emoji-font-size: 20pt;
        --link-font-size: 12pt;
        --border-radius: 7px;
    }
}

@media (max-width: 520px) {
    :root {
        --page-font-size: 12pt;
        --username-font-size: 16pt;
        --tag-font-size: 14pt;
        --credits-font-size: 8pt;
        --emoji-font-size: 16pt;
        --link-font-size: 10pt;
        --border-radius: 5px;
    }
}
