@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --page-font-size: 14pt;
    --credits-font-size: 10pt;
    --emoji-font-size: 22pt;
    --link-font-size: 16pt;
}

body,
main {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

body {
    background: #ccc;
    font-size: var(--page-font-size);
    color: #111;
    font-family: "Roboto Mono", monospace;
}

main {
    display: flex;
    /* grid-template-columns: 600px 30% 30%; */
    background: #fee;
    border-bottom: 1px dashed #111;
    padding: 10px;
}

.block {
    display: block;
    padding: 15px;
    margin: 10px;
    border: 1px dashed #111;
    border-radius: 10px;
}

.block:first-child {
    width: 600px;
    padding: 0px;
}

.block:nth-child(2) {
    min-width: 400px;
}

.block:nth-child(3) {
    min-width: 600px;
}

.block img {
    display: block;
}

.block p {
    padding-bottom: 7px;
}

.block p:last-child {
    padding-bottom: 0px;
}

.block p:first-child {
    margin-top: 0px;
}

/* hilight text */
.tag,
code,
a,
a:active {
    padding: 3px;
    border: 1px dashed #111;
    border-radius: 10px;
}

code {
    background-color: #ff0;
    color: #111;
}

.tag {
    background-color: #f0f;
    color: #111;
    padding: 7px;
}

.credits {
    font-size: var(--credits-font-size);
}

.credits::before {
    content: "# ";
}

a {
    display: inline;
    color: #0c0;
    border-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #f0a;
}

a:active {
    color: #111;
    background-color: #0c0;
}

.block:nth-child(3) {
    font-size: var(--link-font-size);
}

.block:nth-child(3) a::first-letter {
    font-size: var(--emoji-font-size);
}

.block:nth-child(3) a {
    display: block;
    padding: 15px;
}

.block:nth-child(3) code {
    background-color: #f80;
    color: #fff;
    padding: 7px;
}
